language: python
dist: xenial
python: 3.7
node_js: latest
before_install: pip install tox-travis
install:
  - yarn
cache:
  directories:
    - $HOME/.cache/yarn
jobs:
  include:
    - name: JavaScript
      script: yarn test
    - stage: lint
      name: JavaScript
      script: yarn lint
    - before_script: source .tox/py37/bin/activate
      name: Python
      script: pylint flocx_ui/**/*.py