{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Flocx Dashboard" %}{% endblock %}

{% block breadcrumb_nav %}
  <ol class="breadcrumb">
    <li>{% trans "Project" %}</li>
    <li>{% trans "Other" %}</li>
    <li class="active">{% trans "Flocx Dashboard" %}</li>
  </ol>
{% endblock %}

{% block page_header %}
  <h1>Flocx</h1>
  <br>
{% endblock page_header %}

{% block main %}
  <ng-include
    src="'{{ STATIC_URL }}dashboard/project/flocx/tab-navigation/tab-navigation.html'">
  </ng-include>
{% endblock %}
